<div id="modalCadastroOrcamento" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Cadastro de Orçamento</h2>
    <form>
      <label for="clienteOrcamento">Cliente:</label>
      <input type="text" id="clienteOrcamento" name="clienteOrcamento" required>
      <label for="carroOrcamento">Carro:</label>
      <input type="text" id="carroOrcamento" name="carroOrcamento" required>
      <label for="carroOrcamento">Peças:</label>
      <input type="text" id="pecaOrcamento" name="carroOrcamento" required>
      <label for="carroOrcamento">Serviços:</label>
      <input type="text" id="servicoOrcamento" name="carroOrcamento" required>
      <label for="valorOrcamento">Valor:</label>
      <input type="number" id="valorOrcamento" name="valorOrcamento" step="0.01" required>
      <label for="carroOrcamento">Data:</label>
      <input type="date" id="dataOrcamento" name="carroOrcamento" required>
      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>