<div id="modalCadastroCarro" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Cadastro de Carro</h2>
    <form id="formAdicionarCarros">
      <label for="modeloCarro">Modelo:</label>
      <input type="text" id="modeloCarro" name="modeloCarro" required>
      <label for="marcaCarro">Marca:</label>
      <input type="text" id="marcaCarro" name="marcaCarro" required>
      <label for="placaCarro">Placa:</label>
      <input type="text" id="placaCarro" name="placaCarro" required>
      <label for="anoCarro">Ano:</label>
      <input type="number" id="anoCarro" name="anoCarro" required>
      <label for="motorCarro">Motor:</label>
      <input type="text" id="motorCarro" name="motorCarro" required>
      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>