<nav class="sidebar">

    <ul class="sidebar-menu">
        <li><a href="#" class="sidebar-link" data-tab="pecas"><span class="sidebar-icon">🧩</span><span
                    class="sidebar-label">Peças</span></a></li>
        <li><a href="#" class="sidebar-link" data-tab="carros"><span class="sidebar-icon">🚗</span><span
                    class="sidebar-label">Carros</span></a></li>
        <li><a href="#" class="sidebar-link" data-tab="orcamentos"><span class="sidebar-icon">💰</span><span
                    class="sidebar-label">Orçamentos</span></a></li>
        <li><a href="#" class="sidebar-link" data-tab="clientes"><span class="sidebar-icon">👤</span><span
                    class="sidebar-label">Clientes</span></a></li>
    </ul>
    <div class="sidebar-user-footer">
        <img class="sidebar-avatar" src="../assets/logo.png" alt="Avatar Usuário" />
        <div class="sidebar-user-info">
            <span id="sidebar-username">Usuário</span>
        </div>
    </div>
</nav>