<div class="tab-actions">
    <button class="btn primary" data-modal="carros" data-action="add">Adicionar Carro</button>
    <button class="btn" data-modal="carros" data-action="edit">Editar Carro</button>
    <button class="btn danger" data-modal="carros" data-action="delete">Remover Carro</button>
</div>
<div class="table-wrapper">
    <table class="data-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Ano</th>
                <th>Placa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Onix</td>
                <td>Chevrolet</td>
                <td>2020</td>
                <td>ABC-1234</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Gol</td>
                <td>Volkswagen</td>
                <td>2018</td>
                <td>XYZ-5678</td>
            </tr>
        </tbody>
    </table>
</div>