<div class="tab-actions">
    <button class="btn primary" data-modal="pecas" data-action="add">Adicionar Peça</button>
    <button class="btn" data-modal="pecas" data-action="edit">Editar Peça</button>
    <button class="btn danger" data-modal="pecas" data-action="delete">Remover Peça</button>
</div>
<div class="table-wrapper">
    <table class="data-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Estoque</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Filtro de Óleo</td>
                <td>Motor</td>
                <td>15</td>
                <td>R$ 25,00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Pastilha de Freio</td>
                <td>Freio</td>
                <td>8</td>
                <td>R$ 70,00</td>
            </tr>
        </tbody>
    </table>
</div>